/* You can add global styles to this file, and also import other style files */
.highlight {
    background-color: rgb(231, 235, 42);
    font-weight: 900;
    text-decoration: underline rgb(231, 235, 42);
  }